@using NWebsec.Mvc.HttpHeaders.Csp

<script src="/cdn/js/dust/2.0.0/dust-full-2.0.0.min.js" @Html.CspScriptNonce()></script>
<script src="/cdn/js/dust-helpers/1.1.1/dust-helpers-1.1.1.min.js" @Html.CspScriptNonce()></script>
<script src="/cdn/js/jquery/3.4.1/jquery.min.js" @Html.CspScriptNonce()></script>
<script src="/cdn/js/jquery.paging/1.2.0/jquery.paging.min.js" @Html.CspScriptNonce()></script>
<script src="/cdn/js/jquery.query-object/1.0.0/jquery.query-object.min.js" @Html.CspScriptNonce()></script>

<script src="/cdn/js/is.js/0.9.0/is.min.js" @Html.CspScriptNonce()></script>
<script src="/cdn/plugin/tooltipster/4.0/js/tooltipster.bundle.min.js" @Html.CspScriptNonce()></script>

<script src="/cdn/jsmvc/1.1/application-1.1.1.js" @Html.CspScriptNonce()></script>

<link href="/Portals/mijn/Skins/klantportaal/assets/css/main.css?cdv=263" type="text/css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;cdv=262" type="text/css" rel="stylesheet" />

<script language="javascript" type="text/javascript" @Html.CspScriptNonce()>

    (function ($) {

        $(function () {
            //on document ready

            var data = '/';

            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            var extensionMethods = {

                messenger: (function () {
                    var current;
                    return {
                        error: function (message, timeout) {
                            if ("undefined" === typeof timeout)
                                timeout = 3000;
                            if (0 === timeout)
                                timeout = "0";
                            toastr.clear(current);
                            current = toastr.error(message, '', { closeButton: true, timeOut: timeout, extendedTimeout: 0 });
                        },
                        success: function (message, useCloseButton) {
                            toastr.clear(current);
                            if (typeof useCloseButton == "undefined") {
                                useCloseButton = false;
                            }
                            var settings = { closeButton: useCloseButton };
                            if (useCloseButton)
                                $.extend(settings, { timeOut: "0" });

                            current = toastr.success(message, '', settings);
                        },
                        warning: function (message) {
                            if ("undefined" === typeof timeout)
                                timeout = 3000;
                            if (0 === timeout)
                                timeout = "0";
                            toastr.clear(current);
                            current = toastr.warning(message, '', { closeButton: true, timeOut: timeout, extendedTimeout: 0 });
                        }

                    };

                })(),
                spinner: (function () {
                    var timeout;
                    return {
                        spin: function (app) {

                            if (!timeout) {
                                timeout = setTimeout(function () {

                                    $('body').addClass('jsmvc-is-loading');

                                }, 1000);
                            }

                        },
                        stop: function (app) {

                            if (timeout) {
                                clearTimeout(timeout);
                                timeout = undefined;
                            }

                            $('body').removeClass('jsmvc-is-loading');

                        }
                    }
                })()

            };

            var getCSRFCookie = function () {
                return getCookie('KP_CSRF_CLIENT');
            }

            var pages = {
                start: {
                    placeholder: "#phMijnPensioenSpa",
                    controller: "mijnpensioen-content",
                    controllers: [
                        {
                            placeholder: '#content',
                            controller: 'start'
                        }]
                },
                login: {
                    placeholder: "#phMijnPensioenSpa",
                    controller: "mijnpensioen-login"
                },
                pensioen: {
                    placeholder: "#phMijnPensioenSpa",
                    controller: "mijnpensioen-tabcontroller",
                    controllers: [{
                        placeholder: '#tabContent',
                        controller: 'mijnpensioen-actueelpensioen'
                    }]
                },
                profiel: {
                    placeholder: "#phMijnPensioenSpa",
                    controller: "mijnpensioen-tabcontroller",
                    controllers: [
                        {
                            placeholder: '#tabContent',
                            controller: 'mijnpensioen-profiel'
                        }]
                },
                berichten: {
                    placeholder: "#phMijnPensioenSpa",
                    controller: "mijnpensioen-tabcontroller",
                    controllers: [
                        {
                            placeholder: '#tabContent',
                            controller: 'mijnpensioen-berichten'
                        }]
                },
                email: {
                    placeholder: "#phMijnPensioenSpa",
                    controller: "mijnpensioen-content",
                    controllers: [
                        {
                            placeholder: '#content',
                            controller: 'email-collect'
                        }]
                },
                404: {
                    placeholder: "#phMijnPensioenSpa",
                    controller: "mijnpensioen-tabcontroller",
                    controllers: [
                        {
                            placeholder: '#tabContent',
                            controller: '404'
                        }]
                },
                DigidStoring: {
                    placeholder: "#phMijnPensioenSpa",
                    controller: "mijnpensioen-tabcontroller",
                    controllers: [
                        {
                            placeholder: '#tabContent',
                            controller: 'DigidStoring'
                        }]
                }
            };

            var endpoints = {
                controllers: {
                    url: data + 'api/Client/Controller/',
                    dataType: 'jsonp'
                },
                views: {
                    url: data + 'api/Client/View/',
                    dataType: 'jsonp'
                },
                models: {
                    url: '',
                    //dataType: 'jsonp'
                },
                mijnpensioen: {
                    url: data + 'api/MijnPensioen/',
                    dataType: 'jsonp',
                    csrf: getCSRFCookie
                },
                deelnemer: {
                    url: data + 'api/Deelnemer/',
                    dataType: 'jsonp',
                    csrf: getCSRFCookie
                },
                berichten: {
                    url: data + 'api/Correspondentie/',
                    dataType: 'jsonp',
                    csrf: getCSRFCookie
                },
            };

            var application = $(document).jsmvc({
                logAjaxErrors: false,
                logenabled: true,
                endpoints: endpoints,
                shared: {
                    views: []
                },
                routes: {
                },
                pages: pages,
                //controller: 'mijnpensioen-actueelpensioen',
                //container: '',
                defaultModelFileName: '',
                start: function (app) {
                    //show spinner before first step is loaded
                    application.log('application startup =>start spinner');
                    application.spinner.spin(app);
                },
                appnavigate: function (app) {
                    app.log('application.appnavigate=>start spinner');
                    app.spinner.spin(app);
                },
                renderComplete: function (app, context) {
                    app.log('application.renderComplete=>stop spinner');
                    if (!context.expired) app.spinner.stop(app);
                },
                modelLoadException: function (app) {
                    app.log('application.modelLoadException=>stop spinner');
                    //app.spinner.stop(app);
                    //application.messenger.error('Er is een fout opgetreden. Probeer het opnieuw');
                    // app.navigate("error");
                },
                unauthorized: function (app) {
                    //  app.navigate("login");
                },
                notfound: function (app) {
                    app.navigate('404');
                }
            });

            //add spinner feature to application obejct
            $.extend(application, extensionMethods);

            application.start({
                page: 'start'
            });



        });


    })(jQuery);

</script>

<div id="phMijnPensioenSpa"></div>