@using DHV.Umbraco.Features.Renderer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, NWebsec.AspNetCore.Mvc.TagHelpers
@model PageResponse

@{
	var portal = Model?.Head?.Portal;
	var iconName = portal?.Logo ?? portal?.Theme ?? "favicon";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="preconnect" href="https://media.umbraco.io" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="/@(iconName).svg" rel="icon" type="image/svg+xml" />
  <link href="/@(iconName).ico" rel="shortcut icon" sizes="any" />

  @if (!string.IsNullOrWhiteSpace(Model.Head.Title))
  {
    <title>@Model.Head.Title</title>
  }

  @if (!string.IsNullOrWhiteSpace(Model.Head.JsonLd))
  {
    <script type="application/ld+json">@Html.Raw(Model.Head.JsonLd)</script>
  }

  @foreach (var meta in Model.Head.Meta)
  {
	<meta property="@meta?.Property" name="@meta?.Name" content="@meta?.Content" />
  }

  <!-- Google Tag Manager -->
  @if (!string.IsNullOrWhiteSpace(Model.Head?.Portal?.GtmId))
  {
<script nws-csp-add-nonce="true">
(function (w, d, s, l, i) {
  w[l] = w[l] || []; w[l].push({
    'gtm.start':
      new Date().getTime(), event: 'gtm.js'
  }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
      'https://www.googletagmanager.com/gtm.js?id=' + i + dl; var n = d.querySelector('[nonce]');
  n && j.setAttribute('nonce', n.nonce || n.getAttribute('nonce')); f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', '@Model.Head.Portal.GtmId');</script>
  }
  <!-- End Google Tag Manager -->

  <script type="text/javascript" nws-csp-add-nonce="true">
    @if (!string.IsNullOrWhiteSpace(Model.Head.InitialState))
    {
    @:window.UMBRACO_INITIAL_STATE = @Html.Raw(Model.Head.InitialState)
    }
    @if (Model.Head.Portal != null){
    @:window.UMBRACO_PORTAL = @Html.Raw(Json.Serialize(Model.Head.Portal))
    }
	@if (Model.Head.Menu != null){
    @:window.UMBRACO_MENU = @Html.Raw(Json.Serialize(Model.Head.Menu))
    }
  </script>


  <environment exclude="Development">
    @foreach (var asset in Model.Assets)
    {
      if (asset is Script script)
      {
        <script type="@script.Type" src="@script.Src" nws-csp-add-nonce="true"></script>
      }
      else if (asset is Link link)
      {
        <link href="@link.Href" rel="@link.Rel" type="@link.Type" as="@link.As" crossorigin="@link.CrossOrigin" />
      }
    }
  </environment>
</head>
<body>
  <div id="app"></div>
  <environment names="Development">
        <script type="module" src="http://localhost:33446/@("@vite/client")" nws-csp-add-nonce="true"></script>
        <script type="module" src="http://localhost:33446/src/main.js" nws-csp-add-nonce="true"></script>
  </environment>

  <!-- Google Tag Manager (noscript) -->
  @if (!string.IsNullOrWhiteSpace(Model.Head?.Portal?.GtmId))
  {
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=@Model.Head.Portal.GtmId"
              height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  }
    <!-- End Google Tag Manager (noscript) -->
    <!-- Piwik Script -->
    <script nws-csp-add-nonce="true">

        (function (window, document, dataLayerName, id) {
            (window[dataLayerName] = window[dataLayerName] || []),
                window[dataLayerName].push({
                    start: new Date().getTime(),
                    event: 'stg.start',
                })
            const scripts = document.getElementsByTagName('script')[0]
            const tags = document.createElement('script')
            function stgCreateCookie(a, b, c) {
                let d = ''
                let f = ''
                if (c) {
                    const e = new Date()
                    e.setTime(e.getTime() + 24 * c * 60 * 60 * 1e3),
                        (d = `; expires=${e.toUTCString()}`)
                    f = '; SameSite=Strict'
                }
                document.cookie = `${a}=${b}${d}${f}; path=/`
            }
            const isStgDebug = (window.location.href.match('stg_debug')
                || document.cookie.match('stg_debug'))
                && !window.location.href.match('stg_disable_debug')
            stgCreateCookie('stg_debug', isStgDebug ? 1 : '', isStgDebug ? 14 : -1)
            const qP = []
            dataLayerName !== 'dataLayer'
                && qP.push(`data_layer_name=${dataLayerName}`),
                isStgDebug && qP.push('stg_debug')
            const qPString = qP.length > 0 ? `?${qP.join('&')}` : '';
            (tags.async = !0),
                (tags.src = `https://pensioenfondshaskoningdhv.containers.piwik.pro/${id
                    }.js${qPString}`),
                scripts.parentNode.insertBefore(tags, scripts)
            !(function (a, n, i) {
                a[n] = a[n] || {}
                for (let c = 0; c < i.length; c++) {
                    !(function (i) {
                        (a[n][i] = a[n][i] || {}),
                            (a[n][i].api = a[n][i].api
                                || function () {
                                    const a = [].slice.call(arguments, 0)
                                    typeof a[0] === 'string'
                                        && window[dataLayerName].push({
                                            event: `${n}.${i}:${a[0]}`,
                                            parameters: [].slice.call(arguments, 1),
                                        })
                                })
                    }(i[c]))
                }
            }(window, 'ppms', ['tm', 'cm']))
        }(window, document, 'dataLayer', '@Model.PiwikId'))

    </script>


</body>
</html>
